<!--<h2 class="page-header">Dashboard</h2> -->
<h2 class="sub-header">track search
  <button ng-show="track.selectedTracks.length > 0"
         class="pull-right btn btn-primary"
         ng-click="showAdvanced($event)">Add into a playlist</button>
</h2>


<form class="">
  <input type="text" ng-model="track.input"
         ng-change="track.onSearchChange()"
         class="form-control" placeholder="Search...">
</form>
<br />

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>tracks name</th>
        <th>artist</th>
        <th>album</th>
        <th>addPlaylist</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="t in track.songs" style="cursor: pointer"
          select-track data-selected-tracks="track.selectedTracks" data-current-track="t">
        <td>{{$index + 1}}</td>
        <td>{{t.name}}</td>
        <td>{{t.artists[0].name}}</td>
        <td>{{t.album.name}}</td>
        <td>add paly</td>
      </tr>
    </tbody>
  </table>
</div>
