<h1 class="page-header">Dashboard</h1>
<h2 class="sub-header">Section title</h2>

<form class="">
  <input type="text" ng-model="track.input" class="form-control" placeholder="Search...">
</form>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>songs name</th>
      <th>artist</th>
      <th>album</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="t in track.songs">
      <td>{{$index + 1}}</td>
      <td>{{t.name}}</td>
      <td>{{t.artists[0].name}}</td>
      <td>{{t.album.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
