<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Adding tracks to a playlist ...</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog">x</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="md-padding" ng-cloak>
          <div>
            <h1 class="md-title">Pick an playlist</h1>
            <div layout="row">
              <md-input-container>
                <label>chosen playlist</label>
                <md-select ng-model="selectedPlaylist" md-selected-text="getSelectedPlaylist()">
                  <md-optgroup label="playlist">
                    <md-option ng-value="playlist" ng-repeat="playlist in listPlaylists">{{playlist.name}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>

      </div>
    </md-dialog-content>

       <md-dialog-actions layout="row">

         <span flex></span>
         <md-button ng-click="addTracks()">
           Add
         </md-button>
       </md-dialog-actions>-
  </form>
</md-dialog>
